name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install -g cordova

      - run: npm install

      - uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: 33.0.2
          target: android-33

      - run: cordova platform add android@12

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.3

      - run: cordova build android

      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
